<h1>Admin Panel</h1>

<div class="container">

<button {{on "click" this.loadProducts}}>
Load Products </button>

  <h2>Create Product</h2>

<input placeholder="Name" {{on "input" this.updateName}} />
<input placeholder="Category" {{on "input" this.updateCategory}} />
<input placeholder="Price" type="number" {{on "input" this.updatePrice}} />

<button {{on "click" this.createProduct}}>
Create </button>

  <h2>Output</h2>
  <pre>{{this.output}}</pre>

</div>
